In [0]:
%sh
//wget -O busra_airports.dat https://raw.githubusercontent.com/jpatokal/openflights/master/data/airports.dat
//wget -O busra_airlines.dat https://raw.githubusercontent.com/jpatokal/openflights/master/data/airlines.dat
//wget -O busra_routes.dat https://raw.githubusercontent.com/jpatokal/openflights/master/data/routes.dat
//hdfs dfs -put busra_*.dat busra/

In [1]:
%sh
hdfs dfs -ls /user/zeppelin/busra/

In [2]:
%spark
import org.apache.spark.sql.types._
val airlinesColumnList = List (StructField("Airline_ID", IntegerType), StructField("Name", StringType), StructField("Alias", StringType), StructField("IATA", StringType), StructField("ICAO", StringType), StructField("Callsign", StringType), StructField("Country", StringType), StructField("Active", StringType))

val airportColumnList = List (StructField("Airport_ID", IntegerType), StructField("Name", StringType), StructField("City", StringType), StructField("Country", StringType), StructField("IATA", StringType), StructField("ICAO", StringType), StructField("Latitude", DoubleType), StructField("Longitude", DoubleType), StructField("Altitude", IntegerType), StructField("Timezone", IntegerType), StructField("DST", StringType), StructField("Tz_database_time_zone", StringType), StructField("Type", StringType), StructField("Source", StringType))

val routesColumnList = List (StructField("Airline", StringType), StructField("Airline_ID", IntegerType),StructField("Source_airport", StringType), StructField("Source_airport_ID", IntegerType),StructField("Destination_airport", StringType), StructField("Destination_airport_ID", IntegerType), StructField("Codeshare", StringType), StructField("Stops", IntegerType), StructField("Equipment", StringType))

val airlines_schema = StructType(airlinesColumnList)

val airports_schema = StructType(airportColumnList)

val routes_schema = StructType(routesColumnList)

In [3]:
%spark
val airlinesDF = spark.read.format("csv").option("header", "false").schema(airlines_schema).load("busra/busra_airlines.dat").createOrReplaceTempView("busra_airlines")

val airportsDF = spark.read.format("csv").option("header", "false").schema(airports_schema).load("busra/busra_airports.dat").createOrReplaceTempView("busra_airports")

val routesDF = spark.read.format("csv").option("header", "false").schema(routes_schema).load("busra/busra_routes.dat").createOrReplaceTempView("busra_routes")

In [4]:
%spark.sql
show tables;
--CREATE TABLE busra_airlines_kalici AS SELECT * FROM busra_airlines;
--CREATE TABLE busra_airports_kalici AS SELECT * FROM busra_airports;
--CREATE TABLE busra_routes_kalici AS SELECT * FROM busra_routes;

In [5]:
%spark.sql
select * from busra_airlines LIMIT 10;

select * from busra_airports LIMIT 10;

select * from busra_routes LIMIT 10;

In [6]:
%spark.sql
--En çok destinasyona uçan ilk 20 uçak
select y.Name as Name_of_Airline, count (*) as Number_of_Destinations 
    from (select distinct Airline_ID, Destination_airport from busra_routes_kalici) x, busra_airlines_kalici y
        where x.Airline_ID=y.Airline_ID
            group by y.Name
                order by 2 desc
                    limit 20;

In [7]:
%spark.sql
--En çok ülkeye uçan ilk 20 uçak
select y.Name as Name_of_Airline, count (*) as Number_of_Countries 
    from (select distinct x.Airline_ID, z.Country from busra_routes_kalici x, busra_airports_kalici z where x.Destination_airport = z.IATA) t, busra_airlines_kalici y
        where t.Airline_ID=y.Airline_ID
            group by y.Name
                order by 2 desc
                    limit 20;

In [8]:
%spark.sql